/* ---- Fonts ---- */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* ---- Colors ---- */

/* ### Primary */
$strong_cyan: #26c0ab;

/* ### Neutral */
$very_dark_cyan: #00494d;
$dark_grayish_cyan: #5e7a7d;
$dark_grayish_cyan2: #7f9c9f;
$light_grayish_cyan: #c5e4e7;
$light_grayish_cyan2: #f4fafa;
$white: #ffffff;